{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Statistics</title>
    <link href="{% static 'core/css/bootstrap-grid.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form id="filterForm">
        <label for="year">Choose a year:</label>
        <select name="year" id="year"></select>
        <input type="submit" value="Load" name="_load">
      </form>
      <div class="row">
        <div class="col-6">
          <h3>Sales Chart</h3>
          <canvas id="salesChart"></canvas>
        </div>
        <div class="col-6">
          <h3>Least Sold Product</h3>
          <canvas id="leastSoldChart"></canvas>
        </div>
        <div class="col-6">
          <h3>Spend Per Customer Chart</h3>
          <canvas id="spendPerCustomerChart"></canvas>
        </div>
        <div class="col-6">
          <h3>Most sold product</h3>
          <form id="filterForm">
            <label for="month">Choose a month:</label>
            <select name="month" id="month"></select>
            <input type="submit" value="Load" name="_load">
          </form>
          <canvas id="mostSoldChart"></canvas>
        </div>
      </div>
      
      <script src="{% static 'core/js/jquery-3.6.4.min.js' %}"></script>
      <script src="{% static 'core/js/chart.umd.min.js' %}"></script>
      <script>
        let salesCtx = document.getElementById("salesChart").getContext("2d");
        let salesChart = new Chart(salesCtx, {
          type: "bar",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            }
          }
        });
        let spendPerCustomerCtx = document.getElementById("spendPerCustomerChart").getContext("2d");
        let spendPerCustomerChart = new Chart(spendPerCustomerCtx, {
          type: "line",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            }
          }
        });
        let leastSoldCtx = document.getElementById("leastSoldChart").getContext("2d");
        let leastSoldChart = new Chart(leastSoldCtx, {
          type: "bar",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            }
          }
        });
        let mostSoldCtx = document.getElementById("mostSoldChart").getContext("2d");
        let mostSoldChart = new Chart(mostSoldCtx, {
          type: "bar",
          options: {
            responsive: true,
            title: {
              display: false,
              text: ""
            }
          }
        });
      </script>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      $.ajax({
        url: "/orders/chart/filter-options/",
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          // Load all the options
          jsonResponse.options.forEach(option => {
            $("#year").append(new Option(option, option));
          });
          // Load data for the first option
          loadAllCharts($("#year").children().first().val());
        },
        error: () => console.log("Failed to fetch chart filter options!")
      });
    });
  
    $("#filterForm").on("submit", (event) => {
      event.preventDefault();
  
      const year = $("#year").val();
      loadAllCharts(year)
    });
  
    function loadChart(chart, endpoint) {
      $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          // Extract data from the response
          const title = jsonResponse.title;
          const labels = jsonResponse.data.labels;
          const datasets = jsonResponse.data.datasets;
  
          // Reset the current chart
          chart.data.datasets = [];
          chart.data.labels = [];
  
          // Load new data into the chart
          chart.options.title.text = title;
          chart.options.title.display = true;
          chart.data.labels = labels;
          datasets.forEach(dataset => {
            chart.data.datasets.push(dataset);
          });
          chart.update();
        },
        error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
      });
    }
  
    function loadAllCharts(year) {
      loadChart(salesChart, `/orders/chart/sales/${year}/`);
      loadChart(spendPerCustomerChart, `/orders/chart/spend-per-customer/${year}/`);
      loadChart(leastSoldChart , `/orders/chart/least-sold/${year}/`);
      loadChart(mostSoldChart, `/orders/chart/most-sold/${year}/`);
    }
  </script>
</html>